html, body {
  margin: 0;
  padding: 0;
}

.glass {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/images/grocery.png'); /* or your image path */
  background-size:cover;      /* Ensures the image covers full screen */
  background-position: center; /* Keeps the image centered */
  background-repeat: no-repeat;/* Prevents tiling */
  background-attachment: fixed;/* Keeps image fixed when scrolling */
}

.glass::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.6)
  );
  z-index: -1;
}

    
.regFormContainer {
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: 100vh;
  width: 100vw; 
}

    .regForm {
    height: 70%;
    width: 25%;
    padding: 20px;
    border-radius: 8px;
      background: rgba(255, 255, 255, 0.15);
      border-radius: 20px;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      text-align: center;
      gap: 20px;
    }

.regInputContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.regInputContainer label {
    font-size: 0.75em;
}


/* Styles for the input */
.regInput {
  width: 100%;                     /* Ensure it takes full width */
  border: none;                    /* Remove default border */
  border-bottom: 2px solid #ccc;   /* Add a line at the bottom */
  background-color: transparent;   /* Transparent background */
  outline: none;                   /* Remove the outline */
  padding: 8px 0;                  /* Add padding to give space */
  font-size: 1rem;                 /* Font size */
  color: #e8d7d7;                     /* Text color */
  transition: border-color 0.3s;   /* Smooth transition for border color */
}

.regInput:focus {
  border-bottom: 2px solid #8f9eb6; /* Change bottom line color on focus */
  color: #e8d7d7;                   /* Change text color on focus */
}
    

.regSubmitBtn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Green background */
    color: white;              /* White text */
    border: none;              /* Remove borders */
    border-radius: 4px;        /* Rounded corners */
    cursor: pointer;           /* Pointer cursor on hover */
    font-size: 1rem;           /* Font size */
}


/*  */

@media (max-width: 576px) {
    .regForm {
        width: 50%; /* Adjust width for smaller screens */
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .regForm {
        width: 40%; /* Adjust width for smaller screens */
    }
}